{% extends 'html/index.html' %}
{% block title %}<h1>Specific articles are :- </h1>{% endblock %}

<body>
    {% block content %}
    <center>
        
        <h2>{{data.name}}</h2>
        <p>{{data.desc}}</p>
        <a href="{% url 'home' %}">
            <button>Home</button>
        </a>
        <a href="{% url 'delete' data.id %}">
            <button>Delete</button>
        </a>

        <a href="{% url 'update' data.id %}">
            <button>Update</button>
        </a>
    </center>
    {% endblock %}
</body>

</html>